.contact-card {
  display: block;
  width: pxToRem(240);
  height: pxToRem(236);
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  color: $jet-black;
  font-style: normal;
  font-size: pxToRem(35);
  line-height: pxToRem(52);
  letter-spacing: pxToRem(1);
  margin-bottom: pxToRem(45);
  transition: $transition-fast;

  @include respond(medium) {
    margin-right: pxToRem(18);
  }

  @include respond(large) {
    margin-bottom: 0;
  }

  &:hover {
    font-weight: 500;
  }

  &__image-container {
    position: relative;
  }

  &__bg-image {
    position: relative;
  }

  &__icon-container {
    position: absolute;
    width: pxToRem(100);
    height: pxToRem(100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: pxToRem(30);
    left: pxToRem(70);
  }
}
