.navbar {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: pxToRem(7) pxToRem(14);
  z-index: 5;
  min-height: $app-navbar-size;
  margin: 0 auto;

  @include respond(small) {
    max-width: $max-width-small;
  }

  @include respond(medium) {
    flex-direction: row;
    align-items: center;
    max-width: $max-width-medium;
    padding: pxToRem(24) 0;
  }

  @include respond(large) {
    padding-top: pxToRem(32);
    max-width: $max-width-large;
  }

  @include respond(huge) {
    max-width: $max-width-huge;
    padding: pxToRem(36) 0;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }

  &__menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: pxToRem(2);
    border: none;
    background: none;
    cursor: pointer;

    @include respond(medium) {
      display: none;
    }

    &::after,
    .content,
    &::before {
      content: '';
      display: block;
      border-radius: pxToRem(8);
      width: pxToRem(15);
      height: pxToRem(4);
      background: $jet-black;
      transition: all 0.3s;
    }
    &::after {
      width: pxToRem(26);
    }
    &::before {
      width: pxToRem(22);
    }

    &--active {
      &::after {
        width: pxToRem(22);
        transform: translateY(pxToRem(-7)) rotateZ(-135deg);
      }
      &::before {
        transform: translateY(pxToRem(10)) rotateZ(135deg);
      }
      .content {
        transform: scale(0);
      }
    }
  }

  &__logo {
    filter: $default-drop-shadow;
    font-size: pxToRem(25);
    color: $indigo-blue;
    letter-spacing: pxToRem(2);

    &--bold {
      font-weight: 700;
      color: $navy-blue;
    }
  }

  &__items {
    position: fixed;
    top: $app-navbar-size;
    left: 100%;
    background-color: $white;
    z-index: 3;
    transition: $transition-normal;
    height: calc(100vh - $app-navbar-size);
    width: 100%;
    list-style: none;
    padding: 0;

    @include respond(medium) {
      display: flex;
      justify-content: flex-end;
      position: static;
      height: auto;
    }

    &--visible {
      display: block;
      left: 0%;
    }
  }

  &__list-item {
    padding: pxToRem(12);
    margin-bottom: pxToRem(18);
    text-align: end;

    @include respond(medium) {
      text-align: center;
      padding: 0 pxToRem(8);
      margin-bottom: 0;
    }

    @include respond(large) {
      padding: 0 pxToRem(12);
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: pxToRem(18);
    text-decoration: none;
    letter-spacing: pxToRem(1);
    color: $jet-black;

    @include respond(medium) {
      font-size: pxToRem(14);
    }

    @include respond(large) {
      font-size: pxToRem(16);
    }

    @include respond(huge) {
      font-size: pxToRem(18);
    }

    &:hover {
      color: $indigo-blue;
    }
  }

  &__btn {
    background-color: $cornflower-blue;
    padding: pxToRem(8) pxToRem(22);
    border: pxToRem(2) solid $cornflower-blue;
    color: $white;
    border-radius: pxToRem(10);
    transition: $transition-normal;

    &:hover {
      color: $cornflower-blue;
      background-color: $white;
    }
  }
}
