.passion-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: pxToRem(347);
  padding: 0 pxToRem(8);
  height: pxToRem(280);
  box-shadow: 0 pxToRem(5) pxToRem(26) pxToRem(5) $transparent-black;
  border-radius: pxToRem(13);
  margin-bottom: pxToRem(30);

  @include respond(medium) {
    margin-right: pxToRem(30);
  }

  @include respond(large) {
    margin-right: pxToRem(12);
    padding: 0 pxToRem(16);
  }

  @include respond(huge) {
    margin-right: pxToRem(24);
    max-width: pxToRem(450);
    padding: 0 pxToRem(16);
  }

  &__text {
    font-size: pxToRem(25);
    color: $black;
    letter-spacing: pxToRem(1.5);
    line-height: pxToRem(37.5);

    &--light {
      font-weight: 400;
    }

    &--dark {
      font-weight: 600;
    }
  }

  &__summary {
    font-size: pxToRem(18);
    line-height: pxToRem(32);
    letter-spacing: pxToRem(1.5);
  }
}
