.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: pxToRem(347);
  padding: 0 pxToRem(8);
  height: pxToRem(280);
  box-shadow: 0 pxToRem(5) pxToRem(26) pxToRem(5) $transparent-black;
  border-radius: pxToRem(13);
  margin-bottom: pxToRem(30);

  @include respond(medium) {
    margin-right: pxToRem(30);
  }

  @include respond(large) {
    margin-right: pxToRem(12);
    padding: 0 pxToRem(16);
  }

  @include respond(huge) {
    margin-right: pxToRem(24);
    max-width: pxToRem(450);
    padding: 0 pxToRem(16);
  }

  &__bg {
    width: 100%;
    height: 100%;
    background-color: #4dc2f1;
    opacity: 0.25;
    clip-path: circle(30% at 40% 40%);
  }
}
