.hero {
  display: flex;
  flex-direction: column;

  @include respond(medium) {
    flex-direction: row-reverse;
    align-items: center;
  }

  &__image {
    align-self: center;

    @include respond(small) {
      margin-left: pxToRem(32);
      width: pxToRem(280);
      height: pxToRem(280);
    }

    @include respond(medium) {
      margin-left: pxToRem(52);
      width: pxToRem(320);
      height: pxToRem(320);
    }

    @include respond(large) {
      width: pxToRem(400);
      height: pxToRem(400);
    }

    @include respond(huge) {
      width: pxToRem(600);
      height: pxToRem(600);
      margin-left: pxToRem(120);
    }
  }

  &__pre-intro {
    color: $patrick-blue;
    font-size: pxToRem(25);
    font-weight: 400;

    @include respond(medium) {
      filter: $default-drop-shadow;
    }

    @include respond(large) {
      font-size: pxToRem(32);
    }

    @include respond(large) {
      font-size: pxToRem(38);
    }
  }

  &__intro {
    color: $patrick-blue;
    font-size: pxToRem(32);
    letter-spacing: pxToRem(0);
    line-height: pxToRem(45);
    font-style: normal;
    font-weight: 600;

    @include respond(medium) {
      filter: $default-drop-shadow;
    }

    @include respond(large) {
      font-size: pxToRem(44);
      line-height: pxToRem(60);
    }

    @include respond(huge) {
      font-size: pxToRem(58);
      line-height: pxToRem(65);
    }
  }

  &__description {
    color: $maastricht-blue;
    font-size: pxToRem(16);
    letter-spacing: pxToRem(1);
    line-height: pxToRem(24);
    font-style: normal;
    font-weight: normal;

    @include respond(medium) {
      filter: $default-drop-shadow;
    }

    @include respond(large) {
      font-size: pxToRem(21);
      line-height: pxToRem(26);
    }

    @include respond(large) {
      font-size: pxToRem(24);
      line-height: pxToRem(28);
    }
  }
}
