.projects {
  margin-top: pxToRem(60);

  @include respond(medium) {
    margin-top: pxToRem(90);
  }
  &__container {
    padding-top: pxToRem(35);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: pxToRem(20);
    position: relative;
    @include respond(medium) {
      flex-direction: row;
      gap: pxToRem(30);
    }
    @include respond(large) {
      // flex-wrap: nowrap;
      padding-top: pxToRem(75);

      margin-bottom: 0;
    }
    @include respond(huge) {
      gap: pxToRem(80);
    }
  }
}
